header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 25px;
    max-width: 750px;
    margin: 0 auto;
}
.logodiv {
    display: flex;
    justify-content: center;
}
.searchdiv {
    display: flex;
    justify-content: center;
}
.buttondiv {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#searchbar {
    border-radius: 20px 20px 20px 20px;
    border: solid 1px #ddd;
    outline: none;
    height: 40px;
    width: 500px;
    padding-left: 15px;
    box-shadow: none !important;
}
#searchbar:hover {
    border-color: #aaa;
    box-shadow: 0 0 3px 2px #ddd;
}
footer {
    background-color: #f5f5f5;
    color: #303234;
    margin: 0;
}
.footerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
button {
    border: none;
    background-color:#f5f5f5;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow ease .5s;
}
button:hover {
    box-shadow: 0 0 2px 2px #ddd;
}
a {
    text-decoration: none;
    color: #303234;
}
a:hover {
    text-decoration: underline;
}
ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}